.heading {
    width:100%;
    margin:0px;
    font-size:30px;
}
.heading_div {
    background-color:white;
    float:none;
    color:black;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
}
.heading_div2 {
    font-size:18px;
}
.result_tag {
    font-size:20px;
}
.accuracy_tag {
    font-size:20px;
}
canvas {
    border:5px solid black;
    margin-top:150px;
    box-shadow:5px 5px 20px black;
    border-radius:20px;
}
.footer {
    position:fixed;
    bottom:0px;
    width:100%;
    color: white;
    text-align:center;
    background-color:grey;
    font-size:20px;
    line-height:2;

}   